<h1>Play#game</h1>
<p>Find me in app/views/play/game.html.erb</p>
<p>******** Welcome to the longest word-game !********</p>
<p>Here is your grid :</p>
<p><%= @grid %></p>
<p>*****************************************************</p>

<form action="/play/score">
  <input type="What's your best shot ?" name="attempt">
  <input type="submit" class="submit" value =" My best guess">
</form>


